html {
    background: url("https: //images.hdqwalls.com/download/small-memory-8k-2a-2560x1700.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}